<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136183611397-qj5r1ig2a3mk6o1h54706m75t2ds5nqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136183611397-qj5r1ig2a3mk6o1h54706m75t2ds5nqn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>136183611397-274bdadcr41r5p2apdic526ke6e14rru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2tagYZPKzSmLwDAUuE0fKxyj5NnXh5q8</string>
	<key>GCM_SENDER_ID</key>
	<string>136183611397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hellomyfriendo.hellomyfriendo</string>
	<key>PROJECT_ID</key>
	<string>hellomyfriendo-production</string>
	<key>STORAGE_BUCKET</key>
	<string>hellomyfriendo-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136183611397:ios:67455fe0c79193e3319c6c</string>
</dict>
</plist>